FORT is accepting a CustomerASID 0 (branch: aspa)

The use of AS 0 as a customerASID is operatively invalid within the RPKI ecosystem based on the following normative:

- Resource Assignment (RFC 7607, section 2): > In summary says: "The IANA has reserved AS 0. This AS should not be assigned by the Regional Internet Registries (RIRs)... to any network or organization". Since the AS 0 cannot be assigned, there is no legal "Customer" to hold authority over it.

- Certification Profile (RFC 3779, section 1 and RFC 6487, section 4.8.11): > In summary says: "The AS numbers extension... contains the list of AS numbers that have been delegated to the certificate holder. The extension MUST be present in all RPKI certificates... and MUST represent a subset of the AS numbers that have been delegated to the issuer of the certificate." Because RIRs cannot delegate AS 0 (according to RFC 7607), any certificate attempting to claim it fails the subset validation against the production RPKI hierarchy.

- ASPA Profile (draft-ietf-sidrops-aspa-profile, Section 4): > In summary says: "The customerASID in the ASPA content MUST match the AS number present in the AS Resources extension of the EE certificate." Validation fails because it is impossible to construct a valid Chain of Trust for the required End-Entity (EE) certificate containing AS 0.

Strictly adhering to the requirements, therefore, any RPKI validator would be expected to reject a chain of trust that allows an ASPA object containing a CustomerASID 0.

To reproduce the issue, run the following test:

```
$ cat test.repo
ta.cer
	ta.mft
	ca.cer
		ca.mft
		aspa.asa

[node: ta.cer]
obj.tbsCertificate.extensions.as.extnValue.asnum = [ 0x00-0x0A ]

[node: ta.mft]
obj.content.certificates.0.tbsCertificate.extensions.as.extnValue.asnum = [ 0x00-0x0A ]

[node: ca.cer]
obj.tbsCertificate.extensions.as.extnValue.asnum = [ 0x00-0x05 ]

[node: ca.mft]
obj.content.certificates.0.tbsCertificate.extensions.as.extnValue.asnum = [ 0x00-0x05 ]

[node: aspa.asa]
obj.content.certificates.0.tbsCertificate.extensions.as.extnValue.asnum = [0x00]
obj.content.encapContentInfo = {
	eContent.customerASID = 0x00,
	eContent.providers = [0x09]
}

$ barry -p markdown test.repo

$ fort --mode=standalone --tal=test.tal --log.enabled --log.level debug --validation-log.enabled --validation-log.level debug --output.aspa reports/aspa.json
Mar 12 17:03:39 INF: fort 1.6.7
Mar 12 17:03:39 INF:   libcrypto:     OpenSSL 3.0.13 30 Jan 2024
Mar 12 17:03:39 INF:   jansson:       2.14
Mar 12 17:03:39 INF:   libcurl:       8.5.0
Mar 12 17:03:39 INF:   libxml:        2.9.14
Mar 12 17:03:39 INF:   libmicrohttpd: 1.0.0-0
Mar 12 17:03:39 INF: Configuration {
Mar 12 17:03:39 INF: tal: test.tal
Mar 12 17:03:39 INF: local-repository: /tmp/fort/repository
Mar 12 17:03:39 INF: shuffle-uris: false
Mar 12 17:03:39 INF: maximum-certificate-depth: 32
Mar 12 17:03:39 INF: slurm: (null)
Mar 12 17:03:39 INF: mode: standalone
Mar 12 17:03:39 INF: work-offline: false
Mar 12 17:03:39 INF: daemon: false
Mar 12 17:03:39 INF: server.address:
Mar 12 17:03:39 INF:   ::
Mar 12 17:03:39 INF: server.port: 323
Mar 12 17:03:39 INF: server.backlog: 4096
Mar 12 17:03:39 INF: server.interval.validation: 3600
Mar 12 17:03:39 INF: server.interval.refresh: 3600
Mar 12 17:03:39 INF: server.interval.retry: 600
Mar 12 17:03:39 INF: server.interval.expire: 7200
Mar 12 17:03:39 INF: server.deltas.lifetime: 2
Mar 12 17:03:39 INF: prometheus.port: 0
Mar 12 17:03:39 INF: rsync.enabled: true
Mar 12 17:03:39 INF: rsync.priority: 50
Mar 12 17:03:39 INF: rsync.strategy: <deprecated>
Mar 12 17:03:39 INF: rsync.retry.count: 1
Mar 12 17:03:39 INF: rsync.retry.interval: 4
Mar 12 17:03:39 INF: rsync.program: rsync
Mar 12 17:03:39 INF: rsync.arguments-recursive:
Mar 12 17:03:39 INF:   -rtz
Mar 12 17:03:39 INF:   --delete
Mar 12 17:03:39 INF:   --omit-dir-times
Mar 12 17:03:39 INF:   --contimeout=20
Mar 12 17:03:39 INF:   --max-size=20MB
Mar 12 17:03:39 INF:   --timeout=15
Mar 12 17:03:39 INF:   --include=*/
Mar 12 17:03:39 INF:   --include=*.cer
Mar 12 17:03:39 INF:   --include=*.roa
Mar 12 17:03:39 INF:   --include=*.asa
Mar 12 17:03:39 INF:   --include=*.mft
Mar 12 17:03:39 INF:   --include=*.crl
Mar 12 17:03:39 INF:   --include=*.gbr
Mar 12 17:03:39 INF:   --exclude=*
Mar 12 17:03:39 INF:   $REMOTE
Mar 12 17:03:39 INF:   $LOCAL
Mar 12 17:03:39 INF: rsync.arguments-flat:
Mar 12 17:03:39 INF:   <deprecated>
Mar 12 17:03:39 INF: rsync.transfer-timeout: 900
Mar 12 17:03:39 INF: http.enabled: true
Mar 12 17:03:39 INF: http.priority: 60
Mar 12 17:03:39 INF: http.retry.count: 1
Mar 12 17:03:39 INF: http.retry.interval: 4
Mar 12 17:03:39 INF: http.user-agent: fort/1.6.7
Mar 12 17:03:39 INF: http.max-redirs: 10
Mar 12 17:03:39 INF: http.connect-timeout: 30
Mar 12 17:03:39 INF: http.transfer-timeout: 900
Mar 12 17:03:39 INF: http.low-speed-limit: 100000
Mar 12 17:03:39 INF: http.low-speed-time: 10
Mar 12 17:03:39 INF: http.max-file-size: 2000000000
Mar 12 17:03:39 INF: http.ca-path: (null)
Mar 12 17:03:39 INF: http.proxy: (null)
Mar 12 17:03:39 INF: log.enabled: true
Mar 12 17:03:39 INF: log.output: console
Mar 12 17:03:39 INF: log.level: debug
Mar 12 17:03:39 INF: log.tag: (null)
Mar 12 17:03:39 INF: log.facility: daemon
Mar 12 17:03:39 INF: log.file-name-format: global-url
Mar 12 17:03:39 INF: log.color-output: false
Mar 12 17:03:39 INF: validation-log.enabled: true
Mar 12 17:03:39 INF: validation-log.output: console
Mar 12 17:03:39 INF: validation-log.level: debug
Mar 12 17:03:39 INF: validation-log.tag: Validation
Mar 12 17:03:39 INF: validation-log.facility: daemon
Mar 12 17:03:39 INF: validation-log.file-name-format: global-url
Mar 12 17:03:39 INF: validation-log.color-output: false
Mar 12 17:03:39 INF: aspa.max-providers: 4000
Mar 12 17:03:39 INF: Custom incidences:
Mar 12 17:03:39 INF:   incid-hashalg-has-params (Signed Object's hash algorithm has NULL object as parameters): ignore
Mar 12 17:03:39 INF:   incid-obj-not-der-encoded (Object isn't DER encoded): ignore
Mar 12 17:03:39 INF:   incid-file-at-mft-not-found (File listed at manifest doesn't exist): error
Mar 12 17:03:39 INF:   incid-file-at-mft-hash-not-match (File hash listed at manifest doesn't match the actual file hash): error
Mar 12 17:03:39 INF:   incid-mft-stale (The current time is after the nextUpdate field at the manifest): error
Mar 12 17:03:39 INF:   incid-crl-stale (The current time is after the nextUpdate field at the CRL): error
Mar 12 17:03:39 INF: output.roa: (null)
Mar 12 17:03:39 INF: output.bgpsec: (null)
Mar 12 17:03:39 INF: output.aspa: reports/aspa.json
Mar 12 17:03:39 INF: output.format: csv
Mar 12 17:03:39 INF: asn1-decode-max-stack: 4096
Mar 12 17:03:39 INF: stale-repository-period: 43200
Mar 12 17:03:39 INF: init-tals: false
Mar 12 17:03:39 INF: init-as0-tals: false
Mar 12 17:03:39 INF: thread-pool.server.max: 20
Mar 12 17:03:39 INF: thread-pool.validation.max: 5
Mar 12 17:03:39 INF: file-type: (null)
Mar 12 17:03:39 INF: }
Mar 12 17:03:39 DBG: id-ct-routeOriginAuthz retrieved. Its nid is 1234.
Mar 12 17:03:39 DBG: id-ct-rpkiManifest retrieved. Its nid is 1235.
Mar 12 17:03:39 DBG: id-ct-rpkiGhostbusters retrieved. Its nid is 1236.
Mar 12 17:03:39 DBG: rpkiManifest retrieved. Its nid is 1243.
Mar 12 17:03:39 DBG: signedObject retrieved. Its nid is 1244.
Mar 12 17:03:39 DBG: rpkiNotify retrieved. Its nid is 1245.
Mar 12 17:03:39 DBG: id-cp-ipAddr-asNumber (RFC 6484) retrieved. Its nid is 1241.
Mar 12 17:03:39 DBG: id-cp-ipAddr-asNumber-v2 (RFC 8360) retrieved. Its nid is 1242.
Mar 12 17:03:39 DBG: id-pe-ipAddrBlocks-v2 retrieved. Its nid is 1239.
Mar 12 17:03:39 DBG: id-pe-autonomousSysIds-v2 retrieved. Its nid is 1240.
Mar 12 17:03:39 DBG: id-kp-bgpsec-router retrieved. Its nid is 1220.
Mar 12 17:03:39 INF: Updating cache...
Mar 12 17:03:39 DBG: test.tal: Loading /tmp/fort/repository/test.tal/tal.json.
Mar 12 17:03:39 DBG: test.tal: Node 'rsync://localhost:8873/rpki/' loaded successfully.
Mar 12 17:03:39 DBG [Validation]: test.tal: Trying URL https://localhost:8443/rrdp/ta.cer...
Mar 12 17:03:39 INF [Validation]: test.tal: HTTP GET: https://localhost:8443/rrdp/ta.cer -> /tmp/fort/repository/test.tal/https/localhost:8443/rrdp/ta.cer
Mar 12 17:03:39 DBG [Validation]: test.tal: Downloading 'https://localhost:8443/rrdp/ta.cer'.
Mar 12 17:03:39 DBG [Validation]: test.tal: Download attempt #1...
Mar 12 17:03:39 DBG [Validation]: test.tal: Done. Total bytes transferred: 0
Mar 12 17:03:39 ERR [Validation]: test.tal: Error requesting URL: Failed to connect to localhost port 8443 after 0 ms: Couldn't connect to server. (HTTP code: 0)
Mar 12 17:03:39 DBG [Validation]: test.tal: Download failed.
Mar 12 17:03:39 DBG [Validation]: test.tal: Trying URL rsync://localhost:8873/rpki/ta.cer...
Mar 12 17:03:39 INF [Validation]: test.tal: rsync: rsync://localhost:8873/rpki/
Mar 12 17:03:39 DBG [Validation]: test.tal: Executing rsync:
Mar 12 17:03:39 DBG [Validation]: test.tal:     rsync
Mar 12 17:03:39 DBG [Validation]: test.tal:     -rtz
Mar 12 17:03:39 DBG [Validation]: test.tal:     --delete
Mar 12 17:03:39 DBG [Validation]: test.tal:     --omit-dir-times
Mar 12 17:03:39 DBG [Validation]: test.tal:     --contimeout=20
Mar 12 17:03:39 DBG [Validation]: test.tal:     --max-size=20MB
Mar 12 17:03:39 DBG [Validation]: test.tal:     --timeout=15
Mar 12 17:03:39 DBG [Validation]: test.tal:     --include=*/
Mar 12 17:03:39 DBG [Validation]: test.tal:     --include=*.cer
Mar 12 17:03:39 DBG [Validation]: test.tal:     --include=*.roa
Mar 12 17:03:39 DBG [Validation]: test.tal:     --include=*.asa
Mar 12 17:03:39 DBG [Validation]: test.tal:     --include=*.mft
Mar 12 17:03:39 DBG [Validation]: test.tal:     --include=*.crl
Mar 12 17:03:39 DBG [Validation]: test.tal:     --include=*.gbr
Mar 12 17:03:39 DBG [Validation]: test.tal:     --exclude=*
Mar 12 17:03:39 DBG [Validation]: test.tal:     rsync://localhost:8873/rpki/
Mar 12 17:03:39 DBG [Validation]: test.tal:     /tmp/fort/repository/test.tal/rsync/localhost:8873/rpki
Mar 12 17:03:39 DBG [Validation]: test.tal: The rsync sub-process terminated with error code 0.
Mar 12 17:03:39 DBG [Validation]: test.tal: TAL URI 'rsync://localhost:8873/rpki/ta.cer' {
Mar 12 17:03:39 DBG [Validation]: test.tal: TA Certificate 'rsync://localhost:8873/rpki/ta.cer' {
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta.cer: serial Number: 0
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta.cer: Issuer: ta.cer
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta.cer: Subject: ta.cer
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta.cer: caRepository: rsync://localhost:8873/rpki/ta
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta.cer: rpkiNotify: https://localhost:8443/rrdp/notification.xml
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta.cer: Trying URL https://localhost:8443/rrdp/notification.xml...
Mar 12 17:03:39 DBG [Validation]: https://localhost:8443/rrdp/notification.xml: Processing notification.
Mar 12 17:03:39 DBG [Validation]: https://localhost:8443/rrdp/notification.xml: Old session/serial: (null)/(null)
Mar 12 17:03:39 INF [Validation]: https://localhost:8443/rrdp/notification.xml: HTTP GET: https://localhost:8443/rrdp/notification.xml -> /tmp/fort/repository/test.tal/https/localhost:8443/rrdp/notification.xml
Mar 12 17:03:39 DBG [Validation]: https://localhost:8443/rrdp/notification.xml: Downloading 'https://localhost:8443/rrdp/notification.xml'.
Mar 12 17:03:39 DBG [Validation]: https://localhost:8443/rrdp/notification.xml: Download attempt #1...
Mar 12 17:03:39 DBG [Validation]: https://localhost:8443/rrdp/notification.xml: Done. Total bytes transferred: 0
Mar 12 17:03:39 ERR [Validation]: https://localhost:8443/rrdp/notification.xml: Error requesting URL: Failed to connect to localhost port 8443 after 0 ms: Couldn't connect to server. (HTTP code: 0)
Mar 12 17:03:39 DBG [Validation]: https://localhost:8443/rrdp/notification.xml: Download failed.
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta.cer: Trying URL rsync://localhost:8873/rpki/ta...
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta.cer: Prefix: 0.0.0.0/0
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta.cer: Prefix: ::/0
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta.cer: ASN: 0-10
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta.cer: Manifest 'rsync://localhost:8873/rpki/ta/ta.mft' {
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta/ta.crl: CRL 'rsync://localhost:8873/rpki/ta/ta.crl' {
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta/ta.crl: Issuer: ta.cer
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta/ta.crl: }
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta/ta.mft: EE Certificate (embedded) {
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta/ta.mft: Issuer: ta.cer
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta/ta.mft: serial Number: 1
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta/ta.mft: Issuer: ta.cer
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta/ta.mft: Subject: ta.mft
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta/ta.mft: signedObject: rsync://localhost:8873/rpki/ta/ta.mft
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta/ta.mft: <Inherit IPv4>
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta/ta.mft: <Inherit IPv6>
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta/ta.mft: ASN: 0-10
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta/ta.mft: }
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta/ta.mft: }
Mar 12 17:03:39 DBG [Validation]: test.tal: }
Mar 12 17:03:39 DBG [Validation]: test.tal: Certificate 'rsync://localhost:8873/rpki/ta/ca.cer' {
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta/ca.cer: Type: CA
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta/ca.cer: serial Number: 2
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta/ca.cer: Issuer: ta.cer
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta/ca.cer: Subject: ca.cer
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta/ca.cer: caRepository: rsync://localhost:8873/rpki/ca
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta/ca.cer: rpkiNotify: https://localhost:8443/rrdp/notification.xml
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta/ca.cer: Trying URL https://localhost:8443/rrdp/notification.xml...
Mar 12 17:03:39 DBG [Validation]: https://localhost:8443/rrdp/notification.xml: Processing notification.
Mar 12 17:03:39 DBG [Validation]: https://localhost:8443/rrdp/notification.xml: Old session/serial: (null)/(null)
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta/ca.cer: Trying URL rsync://localhost:8873/rpki/ca...
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta/ca.cer: Prefix: 2.0.0.0/8
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta/ca.cer: Prefix: 200::/8
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta/ca.cer: ASN: 0-5
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta/ca.cer: Manifest 'rsync://localhost:8873/rpki/ca/ca.mft' {
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ca/ca.crl: CRL 'rsync://localhost:8873/rpki/ca/ca.crl' {
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ca/ca.crl: Issuer: ca.cer
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ca/ca.crl: }
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ca/ca.mft: EE Certificate (embedded) {
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ca/ca.mft: Issuer: ca.cer
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ca/ca.mft: serial Number: 1
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ca/ca.mft: Issuer: ca.cer
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ca/ca.mft: Subject: ca.mft
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ca/ca.mft: signedObject: rsync://localhost:8873/rpki/ca/ca.mft
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ca/ca.mft: <Inherit IPv4>
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ca/ca.mft: <Inherit IPv6>
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ca/ca.mft: ASN: 0-5
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ca/ca.mft: }
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ca/ca.mft: }
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta/ca.cer: ASPA 'rsync://localhost:8873/rpki/ca/aspa.asa' {
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ca/aspa.asa: EE Certificate (embedded) {
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ca/aspa.asa: Issuer: ca.cer
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ca/aspa.asa: serial Number: 2
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ca/aspa.asa: Issuer: ca.cer
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ca/aspa.asa: Subject: aspa.asa
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ca/aspa.asa: signedObject: rsync://localhost:8873/rpki/ca/aspa.asa
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ca/aspa.asa: ASN: 0
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ca/aspa.asa: }
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ca/aspa.asa: Adding ASPA for customer 0
Mar 12 17:03:39 DBG [Validation]: rsync://localhost:8873/rpki/ta/ca.cer: }
Mar 12 17:03:39 DBG [Validation]: test.tal: }
Mar 12 17:03:39 DBG [Validation]: test.tal: Deleted 0 deferred certificates.
Mar 12 17:03:39 DBG [Validation]: test.tal: Deleting 0 stacked x509s.
Mar 12 17:03:39 DBG [Validation]: test.tal: Deleted 0 metadatas.
Mar 12 17:03:39 DBG [Validation]: test.tal: }
Mar 12 17:03:39 DBG: test.tal: Cleaning up old abandoned cache files.
Mar 12 17:03:39 DBG: test.tal: Node exists but file doesn't: /tmp/fort/repository/test.tal/https/localhost:8443/rrdp/ta.cer
Mar 12 17:03:39 DBG: test.tal: Node exists but file doesn't: /tmp/fort/repository/test.tal/https/localhost:8443/rrdp/notification.xml
Mar 12 17:03:39 DBG: test.tal: Deleting cage /tmp/fort/repository/test.tal/rrdp/localhost:8443/rrdp/notification.xml.
Mar 12 17:03:39 DBG: test.tal: Cleaning up unknown cache files.
Mar 12 17:03:39 DBG: The test.tal tree took 0 seconds.
Mar 12 17:03:39 INF: Validation finished:
Mar 12 17:03:39 INF: - Valid ROAs: 0
Mar 12 17:03:39 INF: - Valid Router Keys: 0
Mar 12 17:03:39 INF: - Valid ASPAs: 1
Mar 12 17:03:39 INF: - Real execution time: 0s
Mar 12 17:03:39 INF: Done.

$ cat reports/aspa.json 
{ "aspa" : {
  "0": [ 9 ]
}}

```


> Resource Assignment (RFC 7607, section 2): > In summary says: "The IANA has reserved AS 0. This AS should not be assigned by the Regional Internet Registries (RIRs)... to any network or organization". 

You are correct that a regular trust anchor should not (note: lowecase) be assigned. However this does not 

> Since the AS 0 cannot be assigned, there is no legal "Customer" to hold authority over it.

It can be used in custom CAs though (as you demo here). I think this should be in the aspa profile for a RP to reject it.

Interesting edge case, probably good to be explicit about. How about the following change in the `aspa-profile` I-D? https://github.com/QratorLabs/ASPA/commit/e107690f38068ef73e23fbcd8fced96d5b75b587

> Interesting edge case, probably good to be explicit about. How about the following change in the `aspa-profile` I-D? [QratorLabs/ASPA@e107690](https://github.com/QratorLabs/ASPA/commit/e107690f38068ef73e23fbcd8fced96d5b75b587)

As discussed. Looks good to me. Nice gap to cover.

And now that it is about to land in the spec, implementations can also close this possibility 👍 

Fixed abd verified! Thanks