FORT is allowing ranges to be defined in the AS resource extension of the EE certificate of an ASPA object. (branch: aspa)

FORT is not validating against the following requirement:

https://datatracker.ietf.org/doc/draft-ietf-sidrops-aspa-profile/

> 4. ASPA Validation   
> ..
> *  The Autonomous System Identifier Delegation Extension MUST contain
>       exactly one "id" element (Section 3.2.3.6 of [RFC3779]) and MUST
>       NOT contain any "inherit" elements (Section 3.2.3.3 of [RFC3779])
>       or "range" elements (Section 3.2.3.7 of [RFC3779]).
> ..

To test the issue, run the following test:

```
$ cat test.repo 
ta.cer
	ta.mft
	ca.cer
		ca.mft
		aspa.asa

[node: ta.cer]
obj.tbsCertificate.extensions.as.extnValue.asnum = [ 0x00-0x0A ]

[node: ta.mft]
obj.content.certificates.0.tbsCertificate.extensions.as.extnValue.asnum = [ 0x00-0x0A ]

[node: ca.cer]
obj.tbsCertificate.extensions.as.extnValue.asnum = [ 0x01-0x05 ]

[node: ca.mft]
obj.content.certificates.0.tbsCertificate.extensions.as.extnValue.asnum = [ 0x01-0x05 ]

[node: aspa.asa]
obj.content.certificates.0.tbsCertificate.extensions.as.extnValue.asnum = [0x01-0x02]
obj.content.encapContentInfo = {
	eContent.customerASID = 0x01,
	eContent.providers = [0x09]
}

$ barry test.repo 

$ fort --mode=standalone --tal=test.tal --log.enabled --log.level debug --validation-log.enabled --validation-log.level debug --output.aspa reports/aspa.json
Mar 12 15:32:24 INF: fort 1.6.7
Mar 12 15:32:24 INF:   libcrypto:     OpenSSL 3.0.13 30 Jan 2024
Mar 12 15:32:24 INF:   jansson:       2.14
Mar 12 15:32:24 INF:   libcurl:       8.5.0
Mar 12 15:32:24 INF:   libxml:        2.9.14
Mar 12 15:32:24 INF:   libmicrohttpd: 1.0.0-0
Mar 12 15:32:24 INF: Configuration {
Mar 12 15:32:24 INF: tal: test.tal
Mar 12 15:32:24 INF: local-repository: /tmp/fort/repository
Mar 12 15:32:24 INF: shuffle-uris: false
Mar 12 15:32:24 INF: maximum-certificate-depth: 32
Mar 12 15:32:24 INF: slurm: (null)
Mar 12 15:32:24 INF: mode: standalone
Mar 12 15:32:24 INF: work-offline: false
Mar 12 15:32:24 INF: daemon: false
Mar 12 15:32:24 INF: server.address:
Mar 12 15:32:24 INF:   ::
Mar 12 15:32:24 INF: server.port: 323
Mar 12 15:32:24 INF: server.backlog: 4096
Mar 12 15:32:24 INF: server.interval.validation: 3600
Mar 12 15:32:24 INF: server.interval.refresh: 3600
Mar 12 15:32:24 INF: server.interval.retry: 600
Mar 12 15:32:24 INF: server.interval.expire: 7200
Mar 12 15:32:24 INF: server.deltas.lifetime: 2
Mar 12 15:32:24 INF: prometheus.port: 0
Mar 12 15:32:24 INF: rsync.enabled: true
Mar 12 15:32:24 INF: rsync.priority: 50
Mar 12 15:32:24 INF: rsync.strategy: <deprecated>
Mar 12 15:32:24 INF: rsync.retry.count: 1
Mar 12 15:32:24 INF: rsync.retry.interval: 4
Mar 12 15:32:24 INF: rsync.program: rsync
Mar 12 15:32:24 INF: rsync.arguments-recursive:
Mar 12 15:32:24 INF:   -rtz
Mar 12 15:32:24 INF:   --delete
Mar 12 15:32:24 INF:   --omit-dir-times
Mar 12 15:32:24 INF:   --contimeout=20
Mar 12 15:32:24 INF:   --max-size=20MB
Mar 12 15:32:24 INF:   --timeout=15
Mar 12 15:32:24 INF:   --include=*/
Mar 12 15:32:24 INF:   --include=*.cer
Mar 12 15:32:24 INF:   --include=*.roa
Mar 12 15:32:24 INF:   --include=*.asa
Mar 12 15:32:24 INF:   --include=*.mft
Mar 12 15:32:24 INF:   --include=*.crl
Mar 12 15:32:24 INF:   --include=*.gbr
Mar 12 15:32:24 INF:   --exclude=*
Mar 12 15:32:24 INF:   $REMOTE
Mar 12 15:32:24 INF:   $LOCAL
Mar 12 15:32:24 INF: rsync.arguments-flat:
Mar 12 15:32:24 INF:   <deprecated>
Mar 12 15:32:24 INF: rsync.transfer-timeout: 900
Mar 12 15:32:24 INF: http.enabled: true
Mar 12 15:32:24 INF: http.priority: 60
Mar 12 15:32:24 INF: http.retry.count: 1
Mar 12 15:32:24 INF: http.retry.interval: 4
Mar 12 15:32:24 INF: http.user-agent: fort/1.6.7
Mar 12 15:32:24 INF: http.max-redirs: 10
Mar 12 15:32:24 INF: http.connect-timeout: 30
Mar 12 15:32:24 INF: http.transfer-timeout: 900
Mar 12 15:32:24 INF: http.low-speed-limit: 100000
Mar 12 15:32:24 INF: http.low-speed-time: 10
Mar 12 15:32:24 INF: http.max-file-size: 2000000000
Mar 12 15:32:24 INF: http.ca-path: (null)
Mar 12 15:32:24 INF: http.proxy: (null)
Mar 12 15:32:24 INF: log.enabled: true
Mar 12 15:32:24 INF: log.output: console
Mar 12 15:32:24 INF: log.level: debug
Mar 12 15:32:24 INF: log.tag: (null)
Mar 12 15:32:24 INF: log.facility: daemon
Mar 12 15:32:24 INF: log.file-name-format: global-url
Mar 12 15:32:24 INF: log.color-output: false
Mar 12 15:32:24 INF: validation-log.enabled: true
Mar 12 15:32:24 INF: validation-log.output: console
Mar 12 15:32:24 INF: validation-log.level: debug
Mar 12 15:32:24 INF: validation-log.tag: Validation
Mar 12 15:32:24 INF: validation-log.facility: daemon
Mar 12 15:32:24 INF: validation-log.file-name-format: global-url
Mar 12 15:32:24 INF: validation-log.color-output: false
Mar 12 15:32:24 INF: aspa.max-providers: 4000
Mar 12 15:32:24 INF: Custom incidences:
Mar 12 15:32:24 INF:   incid-hashalg-has-params (Signed Object's hash algorithm has NULL object as parameters): ignore
Mar 12 15:32:24 INF:   incid-obj-not-der-encoded (Object isn't DER encoded): ignore
Mar 12 15:32:24 INF:   incid-file-at-mft-not-found (File listed at manifest doesn't exist): error
Mar 12 15:32:24 INF:   incid-file-at-mft-hash-not-match (File hash listed at manifest doesn't match the actual file hash): error
Mar 12 15:32:24 INF:   incid-mft-stale (The current time is after the nextUpdate field at the manifest): error
Mar 12 15:32:24 INF:   incid-crl-stale (The current time is after the nextUpdate field at the CRL): error
Mar 12 15:32:24 INF: output.roa: (null)
Mar 12 15:32:24 INF: output.bgpsec: (null)
Mar 12 15:32:24 INF: output.aspa: reports/aspa.json
Mar 12 15:32:24 INF: output.format: csv
Mar 12 15:32:24 INF: asn1-decode-max-stack: 4096
Mar 12 15:32:24 INF: stale-repository-period: 43200
Mar 12 15:32:24 INF: init-tals: false
Mar 12 15:32:24 INF: init-as0-tals: false
Mar 12 15:32:24 INF: thread-pool.server.max: 20
Mar 12 15:32:24 INF: thread-pool.validation.max: 5
Mar 12 15:32:24 INF: file-type: (null)
Mar 12 15:32:24 INF: }
Mar 12 15:32:24 DBG: id-ct-routeOriginAuthz retrieved. Its nid is 1234.
Mar 12 15:32:24 DBG: id-ct-rpkiManifest retrieved. Its nid is 1235.
Mar 12 15:32:24 DBG: id-ct-rpkiGhostbusters retrieved. Its nid is 1236.
Mar 12 15:32:24 DBG: rpkiManifest retrieved. Its nid is 1243.
Mar 12 15:32:24 DBG: signedObject retrieved. Its nid is 1244.
Mar 12 15:32:24 DBG: rpkiNotify retrieved. Its nid is 1245.
Mar 12 15:32:24 DBG: id-cp-ipAddr-asNumber (RFC 6484) retrieved. Its nid is 1241.
Mar 12 15:32:24 DBG: id-cp-ipAddr-asNumber-v2 (RFC 8360) retrieved. Its nid is 1242.
Mar 12 15:32:24 DBG: id-pe-ipAddrBlocks-v2 retrieved. Its nid is 1239.
Mar 12 15:32:24 DBG: id-pe-autonomousSysIds-v2 retrieved. Its nid is 1240.
Mar 12 15:32:24 DBG: id-kp-bgpsec-router retrieved. Its nid is 1220.
Mar 12 15:32:24 INF: Updating cache...
Mar 12 15:32:24 DBG: test.tal: Loading /tmp/fort/repository/test.tal/tal.json.
Mar 12 15:32:24 DBG: test.tal: Node 'rsync://localhost:8873/rpki/' loaded successfully.
Mar 12 15:32:24 DBG [Validation]: test.tal: Trying URL https://localhost:8443/rrdp/ta.cer...
Mar 12 15:32:24 INF [Validation]: test.tal: HTTP GET: https://localhost:8443/rrdp/ta.cer -> /tmp/fort/repository/test.tal/https/localhost:8443/rrdp/ta.cer
Mar 12 15:32:24 DBG [Validation]: test.tal: Downloading 'https://localhost:8443/rrdp/ta.cer'.
Mar 12 15:32:24 DBG [Validation]: test.tal: Download attempt #1...
Mar 12 15:32:24 DBG [Validation]: test.tal: Done. Total bytes transferred: 0
Mar 12 15:32:24 ERR [Validation]: test.tal: Error requesting URL: Failed to connect to localhost port 8443 after 0 ms: Couldn't connect to server. (HTTP code: 0)
Mar 12 15:32:24 DBG [Validation]: test.tal: Download failed.
Mar 12 15:32:24 DBG [Validation]: test.tal: Trying URL rsync://localhost:8873/rpki/ta.cer...
Mar 12 15:32:24 INF [Validation]: test.tal: rsync: rsync://localhost:8873/rpki/
Mar 12 15:32:24 DBG [Validation]: test.tal: Executing rsync:
Mar 12 15:32:24 DBG [Validation]: test.tal:     rsync
Mar 12 15:32:24 DBG [Validation]: test.tal:     -rtz
Mar 12 15:32:24 DBG [Validation]: test.tal:     --delete
Mar 12 15:32:24 DBG [Validation]: test.tal:     --omit-dir-times
Mar 12 15:32:24 DBG [Validation]: test.tal:     --contimeout=20
Mar 12 15:32:24 DBG [Validation]: test.tal:     --max-size=20MB
Mar 12 15:32:24 DBG [Validation]: test.tal:     --timeout=15
Mar 12 15:32:24 DBG [Validation]: test.tal:     --include=*/
Mar 12 15:32:24 DBG [Validation]: test.tal:     --include=*.cer
Mar 12 15:32:24 DBG [Validation]: test.tal:     --include=*.roa
Mar 12 15:32:24 DBG [Validation]: test.tal:     --include=*.asa
Mar 12 15:32:24 DBG [Validation]: test.tal:     --include=*.mft
Mar 12 15:32:24 DBG [Validation]: test.tal:     --include=*.crl
Mar 12 15:32:24 DBG [Validation]: test.tal:     --include=*.gbr
Mar 12 15:32:24 DBG [Validation]: test.tal:     --exclude=*
Mar 12 15:32:24 DBG [Validation]: test.tal:     rsync://localhost:8873/rpki/
Mar 12 15:32:24 DBG [Validation]: test.tal:     /tmp/fort/repository/test.tal/rsync/localhost:8873/rpki
Mar 12 15:32:24 DBG [Validation]: test.tal: The rsync sub-process terminated with error code 0.
Mar 12 15:32:24 DBG [Validation]: test.tal: TAL URI 'rsync://localhost:8873/rpki/ta.cer' {
Mar 12 15:32:24 DBG [Validation]: test.tal: TA Certificate 'rsync://localhost:8873/rpki/ta.cer' {
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta.cer: serial Number: 0
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta.cer: Issuer: ta.cer
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta.cer: Subject: ta.cer
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta.cer: caRepository: rsync://localhost:8873/rpki/ta
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta.cer: rpkiNotify: https://localhost:8443/rrdp/notification.xml
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta.cer: Trying URL https://localhost:8443/rrdp/notification.xml...
Mar 12 15:32:24 DBG [Validation]: https://localhost:8443/rrdp/notification.xml: Processing notification.
Mar 12 15:32:24 DBG [Validation]: https://localhost:8443/rrdp/notification.xml: Old session/serial: (null)/(null)
Mar 12 15:32:24 INF [Validation]: https://localhost:8443/rrdp/notification.xml: HTTP GET: https://localhost:8443/rrdp/notification.xml -> /tmp/fort/repository/test.tal/https/localhost:8443/rrdp/notification.xml
Mar 12 15:32:24 DBG [Validation]: https://localhost:8443/rrdp/notification.xml: Downloading 'https://localhost:8443/rrdp/notification.xml'.
Mar 12 15:32:24 DBG [Validation]: https://localhost:8443/rrdp/notification.xml: Download attempt #1...
Mar 12 15:32:24 DBG [Validation]: https://localhost:8443/rrdp/notification.xml: Done. Total bytes transferred: 0
Mar 12 15:32:24 ERR [Validation]: https://localhost:8443/rrdp/notification.xml: Error requesting URL: Failed to connect to localhost port 8443 after 0 ms: Couldn't connect to server. (HTTP code: 0)
Mar 12 15:32:24 DBG [Validation]: https://localhost:8443/rrdp/notification.xml: Download failed.
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta.cer: Trying URL rsync://localhost:8873/rpki/ta...
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta.cer: Prefix: 0.0.0.0/0
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta.cer: Prefix: ::/0
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta.cer: ASN: 0-10
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta.cer: Manifest 'rsync://localhost:8873/rpki/ta/ta.mft' {
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta/ta.crl: CRL 'rsync://localhost:8873/rpki/ta/ta.crl' {
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta/ta.crl: Issuer: ta.cer
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta/ta.crl: }
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta/ta.mft: EE Certificate (embedded) {
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta/ta.mft: Issuer: ta.cer
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta/ta.mft: serial Number: 1
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta/ta.mft: Issuer: ta.cer
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta/ta.mft: Subject: ta.mft
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta/ta.mft: signedObject: rsync://localhost:8873/rpki/ta/ta.mft
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta/ta.mft: <Inherit IPv4>
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta/ta.mft: <Inherit IPv6>
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta/ta.mft: ASN: 0-10
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta/ta.mft: }
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta/ta.mft: }
Mar 12 15:32:24 DBG [Validation]: test.tal: }
Mar 12 15:32:24 DBG [Validation]: test.tal: Certificate 'rsync://localhost:8873/rpki/ta/ca.cer' {
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta/ca.cer: Type: CA
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta/ca.cer: serial Number: 2
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta/ca.cer: Issuer: ta.cer
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta/ca.cer: Subject: ca.cer
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta/ca.cer: caRepository: rsync://localhost:8873/rpki/ca
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta/ca.cer: rpkiNotify: https://localhost:8443/rrdp/notification.xml
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta/ca.cer: Trying URL https://localhost:8443/rrdp/notification.xml...
Mar 12 15:32:24 DBG [Validation]: https://localhost:8443/rrdp/notification.xml: Processing notification.
Mar 12 15:32:24 DBG [Validation]: https://localhost:8443/rrdp/notification.xml: Old session/serial: (null)/(null)
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta/ca.cer: Trying URL rsync://localhost:8873/rpki/ca...
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta/ca.cer: Prefix: 2.0.0.0/8
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta/ca.cer: Prefix: 200::/8
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta/ca.cer: ASN: 1-5
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta/ca.cer: Manifest 'rsync://localhost:8873/rpki/ca/ca.mft' {
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ca/ca.crl: CRL 'rsync://localhost:8873/rpki/ca/ca.crl' {
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ca/ca.crl: Issuer: ca.cer
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ca/ca.crl: }
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ca/ca.mft: EE Certificate (embedded) {
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ca/ca.mft: Issuer: ca.cer
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ca/ca.mft: serial Number: 1
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ca/ca.mft: Issuer: ca.cer
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ca/ca.mft: Subject: ca.mft
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ca/ca.mft: signedObject: rsync://localhost:8873/rpki/ca/ca.mft
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ca/ca.mft: <Inherit IPv4>
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ca/ca.mft: <Inherit IPv6>
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ca/ca.mft: ASN: 1-5
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ca/ca.mft: }
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ca/ca.mft: }
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta/ca.cer: ASPA 'rsync://localhost:8873/rpki/ca/aspa.asa' {
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ca/aspa.asa: EE Certificate (embedded) {
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ca/aspa.asa: Issuer: ca.cer
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ca/aspa.asa: serial Number: 2
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ca/aspa.asa: Issuer: ca.cer
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ca/aspa.asa: Subject: aspa.asa
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ca/aspa.asa: signedObject: rsync://localhost:8873/rpki/ca/aspa.asa
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ca/aspa.asa: ASN: 1-2
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ca/aspa.asa: }
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ca/aspa.asa: Adding ASPA for customer 1
Mar 12 15:32:24 DBG [Validation]: rsync://localhost:8873/rpki/ta/ca.cer: }
Mar 12 15:32:24 DBG [Validation]: test.tal: }
Mar 12 15:32:24 DBG [Validation]: test.tal: Deleted 0 deferred certificates.
Mar 12 15:32:24 DBG [Validation]: test.tal: Deleting 0 stacked x509s.
Mar 12 15:32:24 DBG [Validation]: test.tal: Deleted 0 metadatas.
Mar 12 15:32:24 DBG [Validation]: test.tal: }
Mar 12 15:32:24 DBG: test.tal: Cleaning up old abandoned cache files.
Mar 12 15:32:24 DBG: test.tal: Node exists but file doesn't: /tmp/fort/repository/test.tal/https/localhost:8443/rrdp/ta.cer
Mar 12 15:32:24 DBG: test.tal: Node exists but file doesn't: /tmp/fort/repository/test.tal/https/localhost:8443/rrdp/notification.xml
Mar 12 15:32:24 DBG: test.tal: Deleting cage /tmp/fort/repository/test.tal/rrdp/localhost:8443/rrdp/notification.xml.
Mar 12 15:32:24 DBG: test.tal: Cleaning up unknown cache files.
Mar 12 15:32:24 DBG: The test.tal tree took 0 seconds.
Mar 12 15:32:24 INF: Validation finished:
Mar 12 15:32:24 INF: - Valid ROAs: 0
Mar 12 15:32:24 INF: - Valid Router Keys: 0
Mar 12 15:32:24 INF: - Valid ASPAs: 1
Mar 12 15:32:24 INF: - Real execution time: 0s
Mar 12 15:32:24 INF: Done.
```

In this case, it is suggested that FORT display a validation message indicating: "ASN extension is not allowed to contain 'range' elements" or something similar.

Fixed and verified! Thanks.